body {
    margin: 0;
    background-color: #000000;
}

header {
    background-color: #1a1a1a;
    color: #ffffff;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

footer {
    background-color: #1a1a1a;
    color: #ffffff;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}